streamlit
pandas
statsmodels woe
statsmodels.api
tabulate
numpy
scipy.stats import linregress
plotly.express as px
plotly.subplots as sp
plotly.graph_objects as go
plotly.io as pio
io
sklearn.linear_model import LinearRegression
sklearn.preprocessing import PolynomialFeatures
sklearn.cluster import KMeans
sklearn.model_selection import train_test_split
sklearn.metrics import silhouette_score
woe
